<script>
  async function getFetchStatus(url) {
    const res = await fetch(url, {
      method: 'GET'
    })
    return res.status
  }

  // 获取 cookie
  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for (let i = 0; i < ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  // 删除 cookie
  function deleteCookie(cname) {
    const date = new Date();
    date.setTime(date.getTime() - 10000);

    document.cookie = cname + "=; expire=" + date.toGMTString() + "; path=/";

  }

  function joeCoverSearch(search) {
    function getRedirect(type, path, orgId) {
      if (!path) return '/'

      const _path = decodeURIComponent(path)

      return `${_path}?m=i&theme=light&orgId=${orgId}`
    }

    const searchParams = new URLSearchParams(search)

    const username = searchParams.get('username')
    const password = searchParams.get('password')

    const path = searchParams.get('path')
    const orgId = searchParams.get('orgId') || '1'

    const type = searchParams.get('type') || 'view'

    const redirect = getRedirect(type, path, orgId)

    return {
      username: username && decodeURIComponent(username),
      password: password && decodeURIComponent(password),
      type,
      redirect,
    }
  }

  const {
    username,
    password,
    type,
    redirect,
  } = joeCoverSearch(window.location.search)

  username && localStorage.setItem('j-user', username)
  password && localStorage.setItem('j-pass', password)

  localStorage.setItem('j-type', type)
  localStorage.setItem('j-rect', redirect)

  const redirectUrl = window.location.origin + redirect

  // 检查有没有 Cookie
  const grafanaSessionCookie = getCookie('grafana_session')

  if (grafanaSessionCookie) {
    // 如果有 Cookie, 检查 Cookie 是否有效
    getFetchStatus(redirectUrl).then(status => {
      if (status === 403) {
        // 说明 Cookie 失效了, 设置 Cookie 为空
        deleteCookie('grafana_session')
      }

      window.location.href = redirectUrl
    }).catch(_ => {
      window.location.href = redirectUrl
    })
  } else {
    // 如果没有 Cookie 直接跳转
    window.location.href = redirectUrl
  }
</script>